/* # Insights Pulse */

.summary-stats li .num {
    color: #d6d8da !important;
}

.diffstat-summary strong {
    color: #d6d8da !important;
}

/* # Insights Traffic */

.boxed-group-inner {
    color: #d6d8da !important;
}

table.capped-list tr:nth-child(even) {
    background-color: #24292e !important;
}

/* # Insights Forks */

.network .current-repository {
    background-color: #586069 !important;
}

/* Marketplace */

.MarketplaceSideNav {
    background-color: #24292e !important;
}
